! ---- XRESOURCES -----


*background: #18161D
*foreground: #e6e5eb

! --- standard colors ---

! black
*color0: #161616

! bright_black
!*color8: #363636
*color8: #868686

! red
*color1: #b95d00

! bright_red
*color9: #ff850c

! green
*color2: #5EBD59

! bright_green
*color10: #8AFF84

! yellow
*color3: #5db900

! bright_yellow
*color11: #85ff0c

! blue
*color4: #9370DB

! bright_blue
*color12: #9370DB

! magenta
*color5: #b9005d

! bright_magenta
*color13: #ff0c85

! cyan
*color6: #005db9

! bright_cyan
*color14: #0c85ff

! white
*color7: #CFCFCF

! bright_white
*color15: #EFEFEF


! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------

! ----- Scroll Bar ------

URxvt.scrollstyle: plain
URxvt.scrollColor: #FF7C00

! ----- Font -----
URxvt.font: xft:Liberation Mono:pixelsize=13:antialias=true:hinting=true

! ---- additional -----
URxvt.urlLauncher: firefox
URxvt.internalBorder: 20
!URxvt.transparent: true
!URxvt.shading:	20

! ---- rofi ----
rofi.color-enabled: true
rofi.color-window: #18161D, #9968A9
rofi.color-normal: #18161D, #9968A9, #18161D, #000000, #999999
